@light: Lato;
@bold: LatoBold;
@regular: LatoRegular;
@wh: white;
@bl:  #3c3c3c;
@imagePath: '../img/';
@iconPath: '../img/icon/';
@bodywith: 100%; //1920 / 100%

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: @bodywith;
	position: relative;
}
#main{
	width: 100%;
	overflow: hidden;
	padding-top: 286px;
	padding-bottom: 115px;
	background: url("@{imagePath}main-bg.jpg")  100% 0% no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

#center{
	width: 37%;
	margin: auto;
	color: @wh;
	text-transform: uppercase;
	text-align: center;
	img{
		width: 65px;
		height: 69px;
	}
	h1{
		font-family:@bold;
		padding-top: 75px;
		font-size: 3.375em;
		font-weight: 700;	
		padding-bottom: 53px;
		letter-spacing: 8px;
	}
	.subtext{
		font-family:@regular;
		font-size: 0.938em;
		font-weight: 400;
		letter-spacing: 0.8px;
	}
}

.scroll{
	padding-top: 247px;
	a{
		margin: 0 auto;
		display: block;
		width: 25px;
		height: 37px;
		background: url("@{iconPath}scroll-ic.svg") center center no-repeat;
	}
}
.frame{
	border:2px solid @bl;
	border-top: none;
	width: 46.98%;
	padding-top: 69px;
	padding-bottom: 26px;
	margin: auto;
	position: relative;
	color: @bl;
	h2{
		font-family: @bold;
		font-size: 2.125em;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 5px;
	}
	p{
		width: 52%;
		margin: auto;
		font-family: Lato;
		font-size: 1em;
		font-weight: 300;
		line-height: 25px;
		text-align: center;
		letter-spacing: 1px;
	}
	span{
		p{width: 64.6%;}
	}
}
.frame_title{
	width: 100.1%;
	position: absolute;
	top: -18px;
	display: flex;
}
.dash{
	width: 25%;
	height: 20px;
	border-bottom:2px solid @bl;
}
.title{
	width: 100%;
}

#about_us{
	width: 100%;
	overflow: hidden;
	padding-top: 160px;
	padding-bottom: 159px;
	background: @wh;
}

#services{
	width: 100%;
	overflow: hidden;
	padding-top: 128px;
	padding-bottom: 109px;
	background: url("@{imagePath}services-bg.jpg")  center center no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}
.frame_white{
	.frame;
	border:2px solid @wh;
	border-top:none;
	padding-bottom: 52px;
	color:@wh;
	p{
		width: 71%;
		margin: auto;
		line-height: 26px;
	}
	.dash{	border-bottom:2px solid @wh;}
}

#what_we_do{
	padding-top: 118px;
	padding-bottom: 107px;
	width: 100%;
	background: @wh;
}
.list{
	color:@bl;
	margin: auto;
	text-align: center;
	padding-top: 50px;
	img{
		width: 80px;
		height: 90px;
	}
	h3{
		padding-top: 30px;
		padding-bottom: 28px;
		font-family: @bold;
		font-size: 1.25em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
	}
	p{
		font-family: @light;
		font-size: 0.875em;
		font-weight: 300;
		line-height: 1.75em;
		letter-spacing: 0.5px;
	}
}
.development{
	padding-top: 75px;
}
.product{
	padding-bottom: 75px;
}

#our_works{
	width: 100%;
	background: @wh;
	overflow: hidden;
	width: 100%;
	display: flex;
	-webkit-justify-content: space-between;
			justify-content: space-between;
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-align-content: space-between;
			align-content: space-between;
	a{
		display: block;
		text-decoration: none;
		position: relative;
		height: 237px;
		margin-top: 10px;
		color: @wh;
		font-family: @bold;
		font-size: 2.125em;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		-moz-transition: 0.5s 0.1s ease;
		-o-transition: 0.5s 0.1s ease;
		-webkit-transition: 0.5s 0.1s ease;
		padding-left: 30px;
		padding-top: 160px;
		img{
			width: auto;
			height: 100%;
		}
	}
	a:hover{
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9); 
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9); 
		transform: scale(0.9);
	}
}
.work1{
	background: url("@{imagePath}work1.jpg") center center no-repeat;
	background-size: cover;
	width: 28.54%;
}
.work2{
	background: url("@{imagePath}work2.jpg") center center no-repeat;
	background-size: cover;
	width: 41.77%;
}
.work3{
	background: url("@{imagePath}work3.jpg") center center no-repeat;
	background-size: cover;
	width: 28.54%;
}
.work4{
	background: url("@{imagePath}work4.jpg") center center no-repeat;
	background-size: cover;
	width: 28.54%;
}
.work5{
	background: url("@{imagePath}work5.jpg") center center no-repeat;
	background-size: cover;
	width: 41.77%;
}
.work6{
	background: url("@{imagePath}work6.jpg") center center no-repeat;
	background-size: cover;
	width: 28.54%;
}

#contact{
	width: 100%;
	overflow: hidden;
	padding-top: 134px;
	padding-bottom: 63px;
	h2{
		font-size: 1.875em;
	}
	p{
		width: 63%;
	}
	a{
		display: block;
		text-decoration: none;
		width: 395px;
		height: 58px;
		background-color: @bl;
		border: 2px solid @bl;
		color: @wh;
		font-family: @regular;
		font-size: 1em;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		margin: auto;
		line-height: 58px;
		letter-spacing: 2.5px;
		margin-top: 44px;
		margin-bottom: 24px;
		-moz-transition: 0.1s 0.1s ease;
		-o-transition: 0.1s 0.1s ease;
		-webkit-transition: 0.1s 0.1s ease;
	}
	a:hover{
		 background-color:lighten(@bl, 20%);
	}
}
footer{
	padding-bottom: 20px;
	width: 90%;
	margin: auto;
	a{
		display: block;
		text-decoration: none;
		width: 315px;
		height: 37px;
		margin: 0 auto;
		
		img{
			width: 35px;
			height: 37px;
			float:left;
		}
		div{
			color: @bl;
			font-family: @regular;
			font-size: 0.875em;
			font-weight: 400;
			display: inline-block;
			margin-top: 7px;
			margin-left: 28px;
			-moz-transition: 0.5s 0.1s ease;
			-o-transition: 0.5s 0.1s ease;
			-webkit-transition: 0.5s 0.1s ease;
		}
	}
}