@media only screen and (max-width : 960px) {
	#center{
		width: 90%;
	}
	.frame, .frame_white {
		width: 90%;
	}
	.frame span p{
		width: 80%;
	}
	.frame p, .frame_white p {
		width: 70%;
	}
	#contact p {
		width: 70%;
	}
	#contact a {
    	width: 80%;
	}
	#our_works {
		-webkit-justify-content: center;
		        justify-content: center;
	}
	.work1, .work2, .work3, .work4, .work5, .work6{
		width: 90%;
	}
}


@media only screen and (max-width : 480px) {
	#main{
		background: url(../img/mobile-bg.jpg) no-repeat;
		background-size: cover;
	}
	#services{
		background: url(../img/services-mobi-bg.jpg) no-repeat;	
		background-size: cover;
	}
	#center{
		width: 90%;
	}
	#center h1{
		font-size: 1.8em;
	}
	.frame, .frame_white {
		width: 90%;
	}
	#center .subtext{
		font-size: 0.75em;
	}
	.frame h2, .frame_white h2, #contact h2 {
		margin-top: 3px;
    	font-size: 1.45em;
    }
	.frame span p{
		width: 80%;
	}
	.frame p, .frame_white p {
		width: 70%;
		font-size: 0.7em;
	}
	#contact p {
		width: 70%;
	}
	#contact a {
    	width: 80%;
	}
	#our_works {
		flex-direction: column;
		-webkit-align-items: center;
		        align-items: center;
	}
	#our_works a{
		font-size: 1.7em;
	}
	.work1, .work2, .work3, .work4, .work5, .work6{
		width: 90%;
	}
}


@media only screen and (max-width : 320px) {
	#main{
		background: url(../img/mobile-bg.jpg) no-repeat;
		background-size: cover;
	}
	#center{
		width: 90%;
	}
	#services{
		background: url(../img/services-mobi-bg.jpg) no-repeat;
		background-size: cover;
	}
	#center h1{
		font-size: 1.45em;
	}
	.frame, .frame_white {
		width: 90%;
	}
	#center .subtext{
		font-size: 0.56em;
	}
	.frame h2, .frame_white h2 {
		margin-top: 5px;
    	font-size: 1.2em;
    }
	.frame span p{
		width: 80%;
	}
	.frame p, .frame_white p {
		width: 70%;
		font-size: 0.6em;
	}
	#contact p {
		width: 70%;
	}
	#contact a {
    	width: 80%;
	}
	#our_works {
		flex-direction: column;
		-webkit-align-items: center;
		        align-items: center;
	}
	.work1, .work2, .work3, .work4, .work5, .work6{
		width: 90%;
	}
	#our_works a {
		font-size: 1.2em;
    }
    #contact h2 {
    	font-size: 1.2em;
    }
    footer a img {
    	width: 30px;
    	height: 30px;
    }
    footer a div {
    	font-size: .75em;
    	margin-top: 10px;
    	margin-left: 10px;
    }
}


